@import "../../style.scss";

.name {
  @include themify($themes) {
    font-weight: 600;
    color: themed("textColor");
    text-decoration: none;
    width: fit-content;
  }

  &:hover {
    text-decoration: underline;
  }
}
