@import "../../style.scss";


.main-search-container {

  @include themify($themes) {
    display: flex;
    .main-search-left {
      display: flex;
      flex-direction: column;
      min-width: 320px;
      height: calc(100vh - 56px);
      position: sticky;
      background-color: themed("bg");
      border-right: 1px solid #ffffff3a;
      padding: 2rem;
      color: themed("textColor");
      overflow-x: hidden;
      overflow-y: auto;

      .main-search-title-container {
        padding-bottom: 16px;
        border-bottom: 1px solid #ffffff88;
      }

      .fillter-container {
        display: flex;
        font-size: large;
        margin-top: 4rem;
        align-items: center;

        &__icon {
          padding: 1rem;
          margin-top: 0.4rem;
        }
      }

      .fillter-function-container {
        &__section-list {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        &__section {
          &-title {
            font-size: 32px;
            font-weight: bold;
            //color: #ffffff;
            margin-bottom: 16px;
          }
        }

        &__section-item {
          margin-bottom: 8px;

          &.active {
            border-radius: 5px;
            background-color: themed("bgHover");
          }
        }

        &__section-link {
          display: flex;
          padding: 16px 32px;
          font-size: 20px;
          //color: #ffffff;
          text-decoration: none;
          background-color: transparent;
          border-radius: 4px;
          justify-content: flex-start;

          &__icon {
            margin-top: 0.15rem;
            padding-right: 0.5rem;
          }

          &:hover {
            transition: 0.25s;
            //color: black;
            background-color: themed("secondaryButtonHover");
            cursor: pointer;
          }
        }
      }
    }

    .main-search-right {
      width: 100%;
      background-color: themed("border");
      display: flex;
      align-items: center;
      justify-content: center;

      .main-search-content {
        min-width: 400px;
        max-width: 670px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
