@import "../../style.scss";

.comments {
  @include themify($themes) {
    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      object-fit: cover;
    }
    hr {
      margin: 16px 0px;
      border: none;
      height: 1px;
      background-color: themed("border");
    }

    .write {
      display: flex;
      gap: 16px;
      margin: 20px 0px;
      width: 100%;

      .avatar {
        display: flex;
      }

      .comment-wrapper {
        display: flex;
        flex: 1;
        width: 100%;
        padding: 12px;
        background-color: themed("commentBgColor");
        border-radius: 8px;
        
        .input-field {
          flex: 5;
          color: themed("textColor");
          background: none;
          border: none;
          outline: none;
          overflow: hidden;
          cursor: text;
          text-align: initial;
          font-size: 0.9375rem;
          font-weight: 400;
          width: 0;
          font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
          word-wrap: break-word;
          resize: none;
          padding: 0;
          &::placeholder {
            color: themed("textColor");
          }
        }
      }

      .button-wrapper {

        button {
          border: none;
          background-color: #5271ff;
          color: white;
          padding: 12px;
          cursor: pointer;
          border-radius: 8px;
          font-weight: bold;
        }
      }
    }
  }
}
