$themes: (
  light: (
    textColor: #4b4b4b,
    bg: white,
    bgHover: darken(white, 12%),
    logo: darkblue,
    bgSoft: #f6f3f3,
    textColorSoft: #7c7c7c,
    border: lightgray,
    overlayColor: rgba(0, 0, 0, 0.05),
    commentBgColor: rgb(235, 235, 235),
    commentBgColorHover: darken(rgb(235, 235, 235), 5%),
    bgSecondary: white,
    bgSecondaryHover: darken(white, 5%),
    infoPopup: rgba(0, 0, 0, 0.75),
    infoPopupText: white,
    modalBg: rgba(228, 228, 228, 0.7),
    modalIconBg: rgb(231, 231, 231),
    modalIconBgHover: darken(rgb(231, 231, 231), 5),
    btn: #f8f8f8,
    hoverBtn: #8e8e8e,
    secondaryButton: lightgray,
    secondaryButtonHover: darken(lightgray, 10%),
    bluePrimary: rgb(53, 100, 255),
    bluePrimaryHover: darken(rgb(53, 100, 255), 5%),
    primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%)
  ),
  dark: (
    textColor: whitesmoke,
    bg: #333,
    bgHover: lighten(#333, 5%),
    logo: white,
    bgSoft: #1f1f1f,
    textColorSoft: lightgray,
    border: #444,
    overlayColor: rgba(255, 255, 255, 0.1),
    commentBgColor: rgb(65, 65, 65),
    commentBgColorHover: lighten(rgb(65, 65, 65), 5%),
    bgSecondary: #1d1d1d,
    bgSecondaryHover: lighten(#1d1d1d, 10%),
    infoPopup: rgba(255, 255, 255, 0.75),
    infoPopupText: black,
    modalBg: rgba(0, 0, 0, 0.7),
    modalIconBg: rgb(68, 68, 68),
    modalIconBgHover: lighten(rgb(68, 68, 68), 5),
    btn: #464646,
    hoverBtn: dimgrey,
    secondaryButton: #646464,
    secondaryButtonHover: darken(#646464, 10%),
    bluePrimary: rgb(53, 100, 255),
    bluePrimaryHover: lighten(rgb(53, 100, 255), 5%),
    primary-icon: invert(89%) sepia(6%) hue-rotate(185deg),
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 760px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
